<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxing">

    <application >

        <activity
            android:name=".qrcode.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>
    </application>

</manifest>
